body{
	
}
.logo{
float: left;
width: 170px; 
height: auto
}

header{
position: absolute;
left: 0;
right: 0;
top: 0;
height: 85px;
}


.navigation-item{
margin: 20px
}

.navigation-item a{
color: #6A736F;
text-decoration: none 
}

.navigation-item img{
display: inline-block;
vertical-align: middle;
}

.navigationbar{
font-size: 11px;
color: #6A736F;
float: right;
margin-top: 18px;
margin-right: 9px;
}

.navigationbar input{
border: none;
width: 180px;
padding: 4px;
border-radius: 4px;
background-color: #E2E1E2;
}

.leftnavigation{
background-color: #9E9B9C;
position: absolute;
top: 95px;
left: 3px;
width: 180px;
bottom: 0px;
border-radius: 4px;
overflow: scroll;
}

.student-name{
	font-size:18px;
	color: #FFFFFF;
	padding-left: 5px;
	font-weight: bold;
}

.student-house{
	font-size: 13px;
	color: #E8E7E8;
	padding-left: 5px;
	padding-top: 3px;
}

.dashboarditems{
	margin-top: 80px
}

.dashboarditems li{
	font-size: 12px;
	padding: 7px;
	margin: 4px;
	color: #6A736F;
	background-color: #E8E7E8
}

.volunteers li{
	font-size: 12px;
	padding: 2px;
	margin: 4px;
	color: #6A736F;
	background-color: #E8E7E8
}

.volunteericon{
	padding: 2px;
	display: inline-block;
	vertical-align: middle;
}

.dataview{
/* background-color: #E8E7E8; */
position: absolute;
top: 95px;
left: 186px;
border-radius: 4px;
right: 0;
bottom: 0px;
overflow: visible;
}


.dataviewwhite{
background-color: #FFFFFF;
position: absolute;
top: 4px;
left: 4px;
border-radius: 4px;
right: 0;
bottom: 0px;
overflow: scroll;
}

.tooltip{
	position: absolute;
	top: -15px;
	left: 3px;
	color: #E8E7E8;
	border: none;
}

.extras{
	margin-top: 20px;
	margin-bottom: 20px;
	width:180px;
}
.studentphoto{
	margin-top: 3px;
	margin-left: 3px;
	width: 85px;
	height: 85px;
	/*padding: 5px;*/
	overflow: hidden;
	border-radius: 4px;
	display: inline-block;
}

.privacyicon{
	padding-right: 4px;
	display: inline-block;
	vertical-align: baseline;
}

#line-graph{
position: absolute;
left: 0;
right: 0;
top: 0;
height: 200px;
}

#info{
position: absolute;
top: 200px;
left: 0px;
right: 0;
bottom: 0px;
overflow: scroll;
}

