#tooltip {
color: #6A736F;
background-color: #FFFFFF;
margin-right: 2px;
padding:2px;
opacity: 0.5;
position: absolute;
opacity: 0;
top: 100px;
left: 100px;
border-left: solid 1px #1B89A0;
border-bottom: solid 1px #1B89A0;
pointer-events: none;
}



#tooltip p{
font-size: 10px;
color: #1B89A0;
}

#tooltip h1{
font-size: 8px;
color: #1B89A0;
}

#tooltip .arrow {
position: absolute;
border-top: solid 8px #1B89A0;
border-left: solid 8px transparent;
border-right: solid 8px transparent;
left: 3px;
bottom: -8px;
}



#tooltip .arrow div{
position: absolute;
border-top: solid 7px #FFFFFF;
border-left: solid 7px transparent;
border-right: solid 7px transparent;
left: -7px;
bottom: 1px;


